<turbo-frame id="modal">
  <div class="fixed inset-0 bg-black/50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-md w-96">
      <h2 class="text-xl font-bold mb-4">Rent <%= @book.title %></h2>

      <%= form_with url: rentals_path, method: :post, data: { turbo_frame: "_top" } do %>
        <%= hidden_field_tag :book_id, @book.id %>

        <div class="flex justify-end space-x-2 mt-4">
          <%= submit_tag "Confirm Rent", class: "px-4 py-1 bg-red-400 text-sm text-white rounded hover:bg-red-500" %>
          <%= link_to "Cancel", books_index_path, data: { turbo_frame: "modal" }, class: "px-4 py-1 text-sm bg-gray-200 rounded" %>
        </div>
      <% end %>
    </div>
  </div>
</turbo-frame>
